.button{
  cursor: pointer;
}

/* Background color */
body{
  background-color: #D7D2C1;
}

.pages{
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.outline{
  min-height: 100vh;
  position: relative;
}
