/*  src/Footer.css  */

.Footer {
    box-sizing: border-box;
    height: 5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #3A5A40;
    color: #D6CEB7;
    margin-top: auto;
    width: 100%;
}