/*  src/Header.css  */
.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 1.5em;
    margin-bottom: 2em;
    border-bottom: #EFEDE6 solid 2px;
    background-color: #507C58;
    color: #656D4A;
}

