/*From documentation: https://www.npmjs.com/package/react-burger-menu */
/*Position and size of burger button*/
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
}

/*Color of burger icon bars*/
.bm-burger-bars {
    background: #000000; /*svart*/
    border-radius: 30px;
}

/*Color of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #1F1F1F; /*grå*/
}

/*Position and size of cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/*Color of cross button*/
.bm-cross {
    background: #cccccc; /*ljusgrå*/
}

/*Sidebar wrapper styles*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/*Sidebar styles*/
.bm-menu {
    background: #507C58; /*grön?*/
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad; /*b8b7ad*/
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

/*Individual item in sidebar*/
.bm-item {
    display: inline-block;
    color: #D7D2C1; /*ljusgrå*/
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
}

/*Color of sidebar items on hover*/
.bm-item:hover {
    color: #B7AF8F; /*grå samma som hover på burger*/
}