

/* Dropdown Button */
.switchuser {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 130px;
    top: 25px;

}


.switchuser:hover{
    opacity: 0.5;
}

.switch{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

/* Show the dropdown menu on hover */
.switch:hover .dropdown-content{
    display: block;
}

.switchuser:active {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.40);
    transform: translateY(3px);
    border-radius: 15px;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 105px;
    z-index: 1;
    right: 100px;
    top: 80px;
}

/* Links inside the dropdown #304B33 */
.dropdown-content a {
    color: white;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}




