
/*  */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    gap: 5px;
}

/* Card design */
.card {
    transform-style: preserve-3d;
    border: #304B33 2px solid;
    position: relative;
    padding: 25px;
    width: 130px;
    height: 250px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: #3A5A40;
    transition: all 0.1s ease;
}

/* Hoover effect for done button */
.card:hover{
    background-color: #304B33;
    cursor: pointer;
}

/* Image on the card */
.task-img {
    height: 50px;
    width:auto;
}

/* Title of the card */
.title{
    text-align: center;
    font-size: 15px;
    color: rgb(220, 220, 220);
}

/*  */
.card p {
    width: 100%;
    color: rgb(220, 220, 220);
}

/*  */
.sizes-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

/* Done button design */
.button-box {
    width: 100%;
}

/* Done button design */
.done {
    cursor: pointer;
    width: 100%;
    border: #645940 1px solid;
    border-radius: 30px;
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    transition-duration: 0.4s;
    background-color: #897C58;
    color: white;
    box-shadow: 0 4px #7C7050;
    touch-action: initial;
}

/* Hoover effect for done button */
.done:hover {
    background-color: #645940;
    color: white;
}

/* Pressed down effect for done button */
.button-box:active {
    box-shadow:
    7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(3px);
    border-radius: 30px;
}

/* Text design for the counter */
.timesDone {
    text-align: center;
    font-size: 15px;
    color: rgb(220, 220, 220);
}
