.container {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-family: "Roboto", sans-serif;
}

.card {
    transform-style: preserve-3d;
    position: absolute;
    width: 130px;
    height: 250px;
    transition: all 0.5s ease;
}

.thefront{
    position: absolute;
    width: 130px;
    height: 250px;
    backface-visibility: hidden;
    background: green;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border: 3px solid black;
}

.theback{
    position: absolute;
    width: 130px;
    height: 250px;
    backface-visibility: hidden;
    background: hotpink;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border: 3px solid black;
    transform: rotateY(180deg);

}

.card:hover{
    transform: rotateY(180deg);
}

.task-img {
    height: 50px;
    width:auto;
}
.title{
    text-align: center;
    font-size: 15px;
    color: rgb(220, 220, 220);
}
.card p {
    width: 100%;
    color: rgb(220, 220, 220);
}
.sizes-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.button-box {
    width: 100%;
}
.done {
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: rgba(248, 177, 60, 1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.done:hover {
    background-color: rgb(222, 157, 54);
}
.timesDone {
    text-align: center;
    font-size: 15px;
    color: rgb(220, 220, 220);
}


